In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# 1. Iris 데이터에 대해서 sepal_width에 대한 회귀식과 RMSE값을 구하시오.

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

iris = load_iris()
data  = iris.data
label = iris.target
columns = iris.feature_names
df = pd.DataFrame(data, columns=columns)
df['target'] = label
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X_data = df.drop(['sepal width (cm)'], axis=1, inplace=False)
y_target = df['sepal width (cm)']

X_train, X_test, y_train, y_test = train_test_split(X_data, y_target, test_size=0.2, random_state=2020) #stratifiy = irisDF['variety']

lr = LinearRegression()
lr.fit(X_train, y_train)
y_preds = lr.predict(X_test)
rmse = np.round(np.sqrt(mean_squared_error(y_test, y_preds)),2)

In [7]:
print('RMSE: {0: .3F}'.format(rmse))

RMSE:  0.300

# 2. 1년 생존여부에 대한 SVM, 결정트리, 로지스틱 회귀를 이용한 생존여부 정확도 예측

In [8]:
from sklearn.metrics import accuracy_score, roc_auc_score

ts_df = pd.read_csv('./data/ThoraricSurgery.csv')

re_name = {'0.10' :'생존률'}
ts_df = ts_df.rename(columns = re_name)

ts_df

,293,1,3.8,2.8,0,0.1,0.2,0.3,0.4,0.5,12,0.6,0.7,0.8,1.1,0.9,62,생존률
0,1,2,2.88,2.16,1,0,0,0,1,1,14,0,0,0,1,0,60,0
1,8,2,3.19,2.50,1,0,0,0,1,0,11,0,0,1,1,0,66,1
2,14,2,3.98,3.06,2,0,0,0,1,1,14,0,0,0,1,0,80,1
3,17,2,2.21,1.88,0,0,1,0,0,0,12,0,0,0,1,0,56,0
4,18,2,2.96,1.67,0,0,0,0,0,0,12,0,0,0,1,0,61,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,98,6,3.04,2.40,2,0,0,0,1,0,11,0,0,0,1,0,76,0
465,369,6,3.88,2.72,1,0,0,0,1,0,12,0,0,0,1,0,77,0
466,406,6,5.36,3.96,1,0,0,0,1,0,12,0,0,0,0,0,62,0
467,25,8,4.32,3.20,0,0,0,0,0,0,11,0,0,0,0,0,58,1
468,447,8,5.20,4.10,0,0,0,0,0,0,12,0,0,0,0,0,49,0

In [9]:
data  = ts_df.drop(['생존률'], axis=1, inplace=False)
label = ts_df['생존률']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(data, label, test_size=0.2, random_state=2020) #stratify = label

## - 로지스틱 회귀

In [11]:
lr = LogisticRegression(verbose=1)

lr.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=1,
                   warm_start=False)

In [12]:
y_pred_lr = lr.predict(X_test)

In [13]:
lr_acc = accuracy_score(y_test, y_pred_lr)
lr_acc

0.8936170212765957

## - SVM

In [14]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [15]:
y_pred_svc = svc.predict(X_test)

In [16]:
svm_acc = accuracy_score(y_test, y_pred_svc)
svm_acc

0.8936170212765957

## - 결정트리

In [17]:
from sklearn.tree import DecisionTreeClassifier

dtree = DecisionTreeClassifier()
dtree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [18]:
y_pred_dtree = dtree.predict(X_test)

In [19]:
dtree_acc = accuracy_score(y_test, y_pred_dtree)
dtree_acc

0.776595744680851

In [20]:
print("SVM의 정확도: {0:.4f}\n결정트리의 정확도: {1: .4f}\n로지스틱회귀의 정확도: {2: .4f}".format(svm_acc, dtree_acc, lr_acc))

SVM의 정확도: 0.8936
결정트리의 정확도:  0.7766
로지스틱회귀의 정확도:  0.8936

# 3. Iris 데이터를 이용한 차원 축소 뒤, K=2, 3, 4에 대해서 군집화 성능 평가

In [21]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale

In [22]:
iris = load_iris()

irisDF = pd.DataFrame(data=iris.data, columns=['sepal_length', 'sepal_width','petal_length', 'petal_width'])

irisDF.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [23]:
k_result = []
for i in range(2,5):
    kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, random_state=2020)
    kmeans.fit(irisDF)
    k_result.append(kmeans.labels_)

In [24]:
print(k_result)

[array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2]), array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 3, 3, 3, 0, 3, 0, 3, 0, 3, 0, 0, 0, 0, 3, 0, 3,
       3, 0, 3, 0, 3, 0, 3, 3, 3, 3, 3, 3, 3, 0, 0, 0, 0, 3, 0, 3, 3, 3,
       0, 0, 0, 3, 0, 0, 0, 0, 0, 3, 0, 0, 1, 3, 1, 1, 1, 1, 0, 1, 1, 1,
       3, 3, 1, 3, 3, 1, 1, 1, 1, 3, 1, 3, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1,
       1, 3, 3, 1, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 3])]

In [25]:
for i in range(3):
    irisDF['target'] = iris.target
    irisDF['cluster'+ str(i+2) ] = k_result[i]
    iris_result = irisDF.groupby(['target','cluster'+ str(i+2)])['sepal_length'].count()
    print(iris_result)

target  cluster2
0       1           50
1       0           47
        1            3
2       0           50
Name: sepal_length, dtype: int64
target  cluster3
0       1           50
1       0            2
        2           48
2       0           36
        2           14
Name: sepal_length, dtype: int64
target  cluster4
0       2           50
1       0           26
        3           24
2       0            1
        1           32
        3           17
Name: sepal_length, dtype: int64

In [26]:
irisDF

,sepal_length,sepal_width,petal_length,petal_width,target,cluster2,cluster3,cluster4
0,5.1,3.5,1.4,0.2,0,1,1,2
1,4.9,3.0,1.4,0.2,0,1,1,2
2,4.7,3.2,1.3,0.2,0,1,1,2
3,4.6,3.1,1.5,0.2,0,1,1,2
4,5.0,3.6,1.4,0.2,0,1,1,2
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,0,0,1
146,6.3,2.5,5.0,1.9,2,0,2,3
147,6.5,3.0,5.2,2.0,2,0,0,3
148,6.2,3.4,5.4,2.3,2,0,0,1
149,5.9,3.0,5.1,1.8,2,0,2,3

In [27]:
from sklearn.metrics import silhouette_samples, silhouette_score
for i in range(3):
    score_samples = silhouette_samples(iris.data, irisDF['cluster'+ str(i+2) ])
    print('cluster {0} : silhouette_samples() return 값의 shape {1}'.format(i, score_samples.shape))
    irisDF['silhouette_coeff'+ str(i+2)] = score_samples
    average_score = silhouette_score(iris.data, irisDF['cluster'+ str(i+2) ])
    print('cluster {0} : iris 데이터 세트 Silhouette Analysis Score:{1:.3f}\n'.format(i,average_score))

cluster 0 : silhouette_samples() return 값의 shape (150,)
cluster 0 : iris 데이터 세트 Silhouette Analysis Score:0.681

cluster 1 : silhouette_samples() return 값의 shape (150,)
cluster 1 : iris 데이터 세트 Silhouette Analysis Score:0.553

cluster 2 : silhouette_samples() return 값의 shape (150,)
cluster 2 : iris 데이터 세트 Silhouette Analysis Score:0.497

# 4. 미드웨이 영화에 대한 네이버 리뷰에서 평점이 10점인것은 긍정 7점이하인것은 부정으로 가정하고 감정 분석

In [28]:
review_df = pd.read_csv('./data/midway.tsv', header=0, sep='\t', quoting=3)
review_df.head(3)

   Unnamed: 0  평점                일시                           감상평
0           0   9  2019.12.31 09:48    미드웨이가 재밌으면 추천 백두산이 재밌으면 비추
1           1  10  2019.12.31 10:41     저 해전이 있었기에 우리나라 광복도 가능 했음
2           2  10  2019.12.31 09:38  백두산 상영관 대폭줄이고 미드웨이 상영관 대폭늘려라

In [29]:
review_df['감상평'] = review_df['감상평'].fillna('-')

In [30]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4825 entries, 0 to 4824
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4825 non-null   int64
 1   평점          4825 non-null   int64
 2   일시          4825 non-null   object
 3   감상평         4825 non-null   object
dtypes: int64(2), object(2)
memory usage: 150.9+ KB

In [31]:
review_df['sentiment'] = '-'

In [32]:
for i in range(len(review_df)):
    if review_df['평점'][i] == 10:
        review_df['sentiment'][i] = '1'
    elif review_df['평점'][i] <=7:
        review_df['sentiment'][i] ='0'

In [33]:
review_df

,Unnamed: 0,평점,일시,감상평,sentiment
0,0,9,2019.12.31 09:48,미드웨이가 재밌으면 추천 백두산이 재밌으면 비추,-
1,1,10,2019.12.31 10:41,저 해전이 있었기에 우리나라 광복도 가능 했음,1
2,2,10,2019.12.31 09:38,백두산 상영관 대폭줄이고 미드웨이 상영관 대폭늘려라,1
3,3,10,2019.12.31 09:14,방금 개봉했는데 1점 준애는 뭐냐 ㅋㅋ 일본놈이냐? 이제 광고돌고 있을 시간이다.,1
4,4,10,2019.12.31 19:58,교과서에는 미드웨이 해전에서 미국이 승리했다고 한 줄로 서술되어 있지만 단순히 한 ...,1
...,...,...,...,...,...
4820,4820,1,2019.12.31 09:11,대만에서 10월31일 개봉했었는데.성공못했음. 미국에서도 성적이 별로구..그이유가 ...,0
4821,4821,2,2020.01.05 20:41,아니 이게 재밌다는 사람은 뭐야?;그냥 국뽕->미국뽕 이 차이밖에 없는데 이 영화가...,0
4822,4822,2,2020.01.01 23:40,시간이 아까워요. 엉성한 그래서 감동도 교훈도 없는...ㅉㅉ,0
4823,4823,4,2019.12.31 15:37,"진주만보다 낫다고해서봤는데대실망...천조국,왜놈들 국뽕영화",0
4824,4824,1,2020.01.16 23:51,우리는 왜 이런 영화 못만드냐? 싸구려 좌파 찌라시 백x산이나 대놓고 친북사상 반일...,0

In [34]:
class_df = review_df['sentiment']
feature_df = review_df.drop(['Unnamed: 0','평점','일시','sentiment'], axis=1, inplace=False)

X_train, X_test, y_train, y_test = train_test_split(feature_df, class_df, test_size=0.2, random_state=2020)

In [35]:
class_df

0       -
1       1
2       1
3       1
4       1
       ..
4820    0
4821    0
4822    0
4823    0
4824    0
Name: sentiment, Length: 4825, dtype: object

In [36]:
feature_df

                                                    감상평
0                            미드웨이가 재밌으면 추천 백두산이 재밌으면 비추
1                             저 해전이 있었기에 우리나라 광복도 가능 했음
2                          백두산 상영관 대폭줄이고 미드웨이 상영관 대폭늘려라
3         방금 개봉했는데 1점 준애는 뭐냐 ㅋㅋ 일본놈이냐? 이제 광고돌고 있을 시간이다.
4     교과서에는 미드웨이 해전에서 미국이 승리했다고 한 줄로 서술되어 있지만 단순히 한 ...
...                                                 ...
4820  대만에서 10월31일 개봉했었는데.성공못했음. 미국에서도 성적이 별로구..그이유가 ...
4821  아니 이게 재밌다는 사람은 뭐야?;그냥 국뽕->미국뽕 이 차이밖에 없는데 이 영화가...
4822                  시간이 아까워요. 엉성한 그래서 감동도 교훈도 없는...ㅉㅉ
4823                   진주만보다 낫다고해서봤는데대실망...천조국,왜놈들 국뽕영화
4824  우리는 왜 이런 영화 못만드냐? 싸구려 좌파 찌라시 백x산이나 대놓고 친북사상 반일...

[4825 rows x 1 columns]

In [37]:
X_train.shape, X_test.shape

((3860, 1), (965, 1))

In [38]:
X_train

                                                    감상평
2765                  다 좋았지만...일본의 잔인함과 만행은 너무 축소시킨듯...
2337  급강하폭격기로 일함대 때려부수는 장면은 정말 통쾌하다. 중국 자본 들어가서 좀 뜬금...
4788                          중국인 시각의 미일전쟁 영화. 평가 가치 없음
1100  백두산 같은 B급 영화에 5점 주는 박평식은 이 영화엔 4점을 줬네. 고맙다. 덕분...
1716  전투신은 최고. 서사는 부족. 전쟁영화 좋아하는 사람은 반드시 볼것. 보기 전에 진...
...                                                 ...
1661                       기대를 하고봤음에도 재밌었던영화평점8점도 안믿김..
2139                                   스케일이나 액션면에서 좋았어요
3779  지금은 전역했지만 군생활 중에 봤으면 뽕 차올랐을 영화.. 정훈장교들 얼른 DVD구매해라
4488              오랜만에 박평식 평론가의 의견에 동조한다. 생각없이 총알들 사이로.
864         진주만을 능가하는 역대급 전쟁영화.이보다 더 고증을 잘한 전쟁영화는 없을 듯.

[3860 rows x 1 columns]

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

In [40]:
pipeline = Pipeline([('cnt_vect', CountVectorizer(stop_words = 'english', ngram_range=(1,2) )), ('lr_clf', LogisticRegression(C=10))])

pipeline.fit(X_train['감상평'], y_train)
pred = pipeline.predict(X_test['감상평'])
pred_probs = pipeline.predict_proba(X_test['감상평'])[:,1]

In [41]:
pred

array(['1', '0', '-', '1', '1', '0', '1', '1', '1', '0', '0', '1', '1',
       '1', '1', '1', '-', '0', '1', '-', '1', '1', '1', '1', '-', '1',
       '1', '1', '1', '1', '1', '1', '1', '0', '1', '0', '1', '-', '1',
       '1', '1', '-', '1', '0', '1', '1', '1', '-', '0', '-', '1', '0',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '-', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '0', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '-', '1', '1',
       '1', '-', '0', '-', '1', '1', '1', '1', '1', '0', '1', '1', '1',
       '1', '-', '-', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '-', '0', '1', '1', '1', '1', '1', '1', '-', '1',
       '1', '1', '1', '1', '1', '-', '-', '1', '1', '1', '1', '1', '1',
       '-', '1', '0', '1', '1', '1', '0', '1', '1', '1', '1', '-', '-',
       '1', '1', '-', '1', '0', '1', '1', '1', '1', '1', '1', '1', '0',
       '1', '-', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '0', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '-', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '-', '1',
       '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '-', '-',
       '1', '1', '0', '1', '1', '1', '1', '1', '-', '0', '1', '-', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '-', '1', '1', '1', '1',
       '1', '1', '1', '1', '-', '0', '1', '1', '0', '1', '1', '1', '1',
       '1', '0', '0', '1', '1', '1', '0', '1', '1', '-', '1', '0', '1',
       '-', '1', '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '0', '1', '1', '-', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '0', '-',
       '1', '1', '1', '1', '1', '1', '1', '1', '-', '1', '0', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '-', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '-', '1', '1', '1', '-', '1',
       '1', '1', '0', '1', '1', '1', '1', '1', '1', '-', '1', '1', '1',
       '-', '1', '1', '1', '1', '1', '1', '1', '1', '-', '1', '1', '1',
       '1', '1', '1', '1', '1', '-', '-', '1', '1', '1', '1', '-', '1',
       '1', '1', '1', '0', '1', '0', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '-', '-', '1', '1',
       '-', '1', '1', '1', '1', '1', '1', '0', '-', '1', '0', '1', '1',
       '1', '1', '1', '1', '0', '0', '1', '1', '1', '1', '1', '1', '0',
       '-', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '0', '1', '1', '1', '-', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '-',
       '1', '1', '1', '-', '1', '-', '1', '0', '0', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1',
       '1', '-', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '-', '1', '1',
       '1', '1', '1', '-', '1', '1', '1', '1', '0', '1', '1', '0', '1',
       '1', '-', '1', '1', '0', '-', '0', '1', '0', '1', '0', '1', '1',
       '-', '1', '1', '1', '1', '1', '1', '1', '1', '-', '0', '1', '1',
       '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1', '0', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '-', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '0', '-', '1', '-', '1', '0', '1', '1', '1', '1', '-', '1',
       '1', '1', '0', '1', '1', '1', '-', '1', '1', '-', '1', '1', '1',
       '1', '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '-', '1', '1', '1', '1', '1', '1', '1', '1',
       '-', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '-',
       '1', '1', '1', '-', '1', '1', '0', '1', '1', '1', '0', '1', '1',
       '1', '0', '1'], dtype=object)

In [42]:
from sklearn.metrics import roc_auc_score

In [45]:
print('예측 정확도는 {0:.4f}'.format(accuracy_score(y_test, pred)))

예측 정확도는 0.6829